.landing {
  height: calc(100vh - 70px);
  padding-top: 150px;
}
.models {
  .card {
    margin-bottom: 1.5rem;
    img {
      width: 50px;
      height: 67px;
      margin-bottom: 16px;
      cursor: pointer;
    }
    .card-links {
      a {
        width: 32%;
        font-size: 15px;
        &:first-child {
          background-color: var(--main-color);
          &:hover {
            color: var(--main-color) !important;
            border-color: var(--main-color);
          }
        }
        &:nth-child(2) {
          background-color: #ff5722;
          &:hover {
            color: #ff5722 !important;
            border-color: #ff5722;
          }
        }
        &:last-child {
          background-color: #4caf50;
          &:hover {
            color: #4caf50 !important;
            border-color: #4caf50;
          }
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
.img-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    position: relative;
    width: 300px;
    animation: pop-up 0.3s forwards;
    @media (min-width: 768px) {
      width: 380px;
    }
    .close-btn {
      position: absolute;
      top: -20px;
      right: -20px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fff;
      border: none;
    }
    img {
      width: 100%;
    }
  }
}

@keyframes pop-up {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
