:root {
  --main-color: #2196f3;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0 !important;
}
.main-bg {
  background-color: var(--main-color);
}
.main-color {
  color: var(--main-color);
}
body {
  font-family: sans-serif;
  footer {
    background-color: #333;
    p {
      font-size: 15px;
    }
  }
}
